/* Common styles */
BODY {
    margin: 0px 100px;
    background-color: #eee;
    font-size: 13px;
    font-family: verdana, arial, helvetica, sans-serif;
    /*height: 8.5in;  Why?  does it set a minimum? */
}

P, TD, TH, DIV, SPAN {
    font-family: verdana, arial, helvetica, sans-serif;
}

P, TD, TH, DIV
{
     /* border:1px solid violet; */
}

A {
    color: #666633;
    font-weight: bold;
    text-decoration: none;
}

.indent50
{
    margin-left:50px;
}

.faq {
    text-align: left;
    color: #669966;
    font-size: 18px;
    font-weight: bold;
}

button
{
    background-color:#a8c1a4;
}

A:hover {
    text-decoration: underline;
}

#main
{
    width: auto;
    background-color:#fff;
    border-left:1px dashed #aaa;
    border-right:1px dashed #aaa;
    border-top:26px groove #77a477;
    border-bottom:10px double #77a477;
    margin-bottom:20px;
}

.skip
{
    display:none;
}

/* Header styles */
#serendipity_banner {
    height: 72px;
    padding-left:20px;
    padding-top:0px;
}

#serendipity_banner h1 {
    font-size: 18px;
    color: #fff;
    font-style:italic;
    margin: 0px 0px;
    position:absolute;
    top:2px;
    right:120px;
    text-align:right;
}

#serendipity_banner h2 {
    font-size: 12px;
    color: #c1c184;
    margin: 0px 0px;
    font-style:italic;
    position:absolute;
    right:120px;
    top:30px;
    text-align:right
}

#serendipity_banner img
{
    margin-top:10px;
}


/* Entries styles */


#content {
    width: auto;
    margin-left:50px;
    margin-right:50px;
    background-color:#fff;
}
