/* Common styles */
BODY
{
    min-height:10in;
    margin: 0px 50px;
    background-color: #eee;
    font-size: 13px;
    font-family: verdana, arial, helvetica, sans-serif;
}

P, TD, TH, DIV, SPAN
{
    font-family: verdana, arial, helvetica, sans-serif;
}

P, TD, TH, DIV
{
     /* border:1px solid violet; */
}

.indent50
{
    margin-left:25px;
}

A
{
    color: #666633;
    font-weight: bold;
    text-decoration: none;
}

.faq
{
    text-align: left;
    color: #669966;
    font-size: 18px;
    font-weight: bold;
}

button
{
    background-color:#a8c1a4;
}

A:hover
{
    text-decoration: underline;
}

#main
{
    min-height:10in;
    width: auto;
    background-color:#fff;
    border-left:1px dashed #aaa;
    border-right:1px dashed #aaa;
    border-top:26px groove #77a477;
    border-bottom:10px double #77a477;
    margin-bottom:20px;
}

.skip
{
    display:none;
}

/* Header styles */
#serendipity_banner {
    height: 72px;
    padding-left:20px;
    padding-top:0px;
}

#serendipity_banner h1 {
    font-size: 18px;
    color: #fff;
    font-style:italic;
    margin: 0px 0px;
    position:absolute;
    top:2px;
    right:120px;
    text-align:right;
}

#serendipity_banner h2 {
    font-size: 12px;
    color: #c1c184;
    margin: 0px 0px;
    font-style:italic;
    position:absolute;
    right:120px;
    top:30px;
    text-align:right
}

#serendipity_banner img
{
    margin-top:10px;
}

/* Entries styles */
#content
{
    width: auto;
    margin-left:220px;
    margin-right:30px;
    background-color:#fff;
}

/* Sidebar styles */
#serendipityLeftSideBar
{
    width: 180px;
    background-color: white;
    margin-left:20px;
    vertical-align: top;
    position:absolute;
    float:left;
    top:140px;
}

.serendipitySideBarContent
{
    list-style : none;
    padding:0px;
    margin:0px;
}

.serendipitySideBarItem
{
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.serendipitySideBarTitle
{
    color:#669966;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 8px;
    border-bottom:1px solid #669966;
}

