# Makes .cgi scripts in this directory get handled by mod_perl.
# Assumes Apache::Registry is configged in the server config.

# $Id: .htaccess,v 1.1 2002/11/07 07:07:53 troutgirl Exp $

Options +ExecCGI

<IfModule mod_cgi.c>
  AddHandler cgi-script .cgi
</IfModule>

<IfModule mod_perl.c>
 <Files *.cgi>
  SetHandler perl-script
  PerlHandler Apache::Registry
  PerlSendHeader On
 </Files>
</IfModule>
